.wrap {
    display: flex;
}

.item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid white;
}

.active {
    border-bottom-color: red;
}
